Readings/
*.docx
*.gdoc
*.doc
*.xls
*.xlsx
*.nlg
*.tex~
*.fdb_latexmk
*.fls
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.gz
*.nls
*.sh
*.nlo
thesis.pdf
test.pdf
test.tex
*.tdo
*.txss
Chapter3/Fig_Cons/*
